@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Quicksand|Roboto+Slab:100,300,400,700');

body {
  padding-top: 0px;
  font-family: "Roboto Slab", sans-sherif;
    font-weight: 300;
    font-size: 2em;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin: 0;
    
}
img{
    max-width: 200px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/** carousel **/
/**.carousel.fade {
    opacity: 1;
}

.caousel.fade .item {
    transition: opacity ease-out .7s;
    left: 0;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
}

.carousel.fade .item:first-child {
    top:auto,
    opacity: 1;
    position: relative;
}

.carousel.fade .item.active{
    
    
}**/
.navbar {
    border-radius: 0;
    border: 0;
    }

/** Başlık düzenlemesi **/

header .navbar {
    padding: 30px 0;    
}
header .navbar-default {
    background-color: transparent;
    border: none;
}
header .navbar-default .navbar-nav a {
    color: antiquewhite;
    padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
    color: darkgoldenrod ;   
}
header .navbar-default .navbar-nav .active a {
    color: darkorange;
    background-color: transparent;
    border-bottom: 4px solid darkorange;
    font-weight: 700;
    text-shadow: none;
}
header .navbar-default .navbar-nav .active a:hover{
    background-color: transparent;
    text-shadow: none;
    color: crimson;
}
/** işletme simgesi düzenlemesi**/
header .navbar-brand {
    background: url(g%C3%B6r%C3%BCnmez%C3%BC.gif);
    background-repeat: no-repeat;
    background-position: 15px 0px;
    height: auto;    
}
header .navbar-brand h1 {
    color: antiquewhite;
    margin: 0;
    font-size: 1,8em;
    font-weight: 400;
    padding-left: 100px;    
}
header .navbar-brand span {
    display: block;
    font-family: "Roboto Slab", serif;
    font-size: .6em;
    font-weight: 100;   
    color: antiquewhite;
}
@media only screen
and (max-width:768px){
header .navbar-collapse {
    background-color: rgba(0,0,0, .5);
}
}
/** paspas düzenlemesi**/
footer .navbar-default{
    background: transparent;
}
.page {
    padding: 50px 0;
}
.page h2 {
    text-align: center;
    margin-bottom: 30px;
}

/** birincibölüm**/
#birincibl {
    background-color: skyblue;
    background-image: linear-gradient(to bottom, #f56cf7 );
    border-top: 20px solid rgba(241, 66, 244, .5);
}

/** ikincibölüm**/
#ikincibl {
    background-color: aquamarine;
    background-image: linear-gradient(to bottom, #f56cf7 );
    border-top: 20px solid rgba(241, 66, 244, .5);
}
/** ucuncubölüm**/
#ucuncubl {
    background-color: darkviolet;
    background-image: linear-gradient(to bottom, #f56cf7 );
    border-top: 20px solid rgba(241, 66, 244, .5);
}

/**Yorumları düzenleme**/

#yorumlar blockquote .quote  {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px %5;
    position: absolute; /**burayı relative yapıp düzeltebilirsin arkaresim görüntüsünü**/
    bottom: 0;
    width: %75;
    font-weight: 400;
    border-radius: 0 50px 0 0;
}

#yorumlar blockquote .quote:hover  {
    background-color: rgba(175, 203, 206, 0.5);
    
}
#yorumlar #hirto {
    background-image: url(Glenn-Dale-Hospital-Peabody-Hall-500px.jpg);
    background-size: cover;
    
}
#yorumlar .quote {
    font-size: 1.2em;
    line-height: %110;
    font-weight: 400;
}

#yorumlar .quote .more, #yorumlar .customer {
  opacity: 0;
  font-size: 0;
  line-height: 0;
  padding-top: 10px;
}


#yorumlar .quote:hover .more {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  display: block;
  opacity: 1;
  font-size: .8em;
  line-height: 120%;
}
#yorumlar .quote .intro:after {
    content: "...";
}
#yorumlar .quote:hover .intro:after {
  content: '';
}
